/* ------------------------------------------------------------------------------
* Author: web-zone.org
* @package Airin Blog
* Description: Styles for Contact Form 7
* ------------------------------------------------------------------------------ */

/* Change warning text color */
.wpcf7-not-valid-tip {
	background: #e3e3e3;
	padding-left: 7px;
	margin-top: 2px;
	margin-bottom: 10px;
}
