/* ------------------------------------------------------------------------------
* Author: web-zone.org
* @package Airin Blog
* Description: Block editor styles (Gutenberg)
* ------------------------------------------------------------------------------ */


.wp-block {
	max-width: 850px;
}

/* wide */
.wp-block[data-align="wide"] {
	max-width: 1150px;
}

/* full-wide */
.wp-block[data-align="full"] {
	max-width: none;
}